[submodule "Vendor/GLFW/GLFW"]
	path = Vendor/GLFW/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Vendor/GLM/GLM"]
	path = Vendor/GLM/GLM
	url = https://github.com/icaven/glm.git
[submodule "Vendor/stb/stb"]
	path = Vendor/stb/stb
	url = https://github.com/nothings/stb.git
[submodule "Vendor/ImGui/ImGui"]
	path = Vendor/ImGui/ImGui
	url = https://github.com/ocornut/imgui.git
